.search-input {
  width: 240px;
  border: none;
  padding: 8px 25px;
  border-radius: 50px;
  outline: none;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 14px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}